* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  body, html, .App {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  
  .App {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  header, footer {
    flex-shrink: 0;
  }
  
  main {
    flex: 1;
    display: flex;
  }